{
  "base_url": "",
  "syslog_path": "",
  "activate_processor_count": 3,
  "game_user_processor_count": 2,
  "database": {
    "mongo": {
      "ip": "127.0.0.1",
      "port": 27017,
      "db": "advertdb",
      "user": "ad",
      "pwd": "",
      "wmode": 1
    },
    "request_time": 0.02
  },
  "ads_duomeng_sign_key": "",
  "clean_interval": 3,
  "clean_limit": 259200,
  "global_monitor_interval": 15
}
